version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: lords-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: lords-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
